<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue组件高级用法--内联模板</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <child-component inline-template>
            <div>
                <h2>在父组件中定义子组件的模板</h2>
                <p>{{ message }}</p>
                <p>{{ msg }}</p>
            </div>
        </child-component>
    </div>
    <script>
        Vue.component('child-component',{
            data:function(){
                return{
                    message:'在子组件里声明数据'
                }
            }
        })
        var app = new Vue({
            el:'#app',
            data:{
                msg:'在父组件里声明数据'
            }
        });
    </script>
</body>

</html>