<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue--自定义指令</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-focus>
    </div>
    <script>
        Vue.directive('focus',{
            inserted:function(el){
                //聚焦元素
                el.focus();
            }
        })
        var app = new Vue({
            el:'#app'
        });
        //打开这个页面，input页面就会自动获得焦点，成为可输入状态。
    </script>
</body>

</html>