<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue组件高级用法--异步组件</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <child-component></child-component>
    </div>
    <script>
        //工厂函数接收一个resolve回调，在收到从服务器下载的组件定义时调用。也可以调用reject指示加载失败，
        //这里的setimeout只是为了演示异步，
        Vue.component('child-component',function (resolve,reject) {
            setTimeout(() => {
                resolve({
                    template:'<div>我是异步渲染的</div>'
                })
            }, 2000);
        })
        var app = new Vue({
            el:'#app'
        });
    </script>
</body>

</html>