<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue组件通信--具名slot</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <child-component>
            <h2 slot="header">标题</h2>
            <p>正文内容</p>
            <P>更多的正文内容</P>
            <div slot="footer">底部信息</div>
            <p>hello world</p>
        </child-component>
    </div>
    <script>
        Vue.component('child-component',{
            template:`
            <div class="container">
                <div class="header">
                    <slot name="header"></slot>
                </div>
                <div class="main">
                    <slot></slot>
                </div>
                <div class="footer">
                    <slot name="footer"></slot>
                </div>
            </div>
            `
            /*子组件内声明了3个slot元素，class=main内的slot没有使用name的特性，他将作为默认slot出现，父组件没有使用slot特性的元素与内用都将出现在这里*/
        })
        var app = new Vue({
            el:'#app'
        })
    </script>
</body>

</html>