<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue组件通信(非父子组件通信--中央事件处理总线)</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>

<body>
    <div id="app">
        {{ message }}
        <component-a ref="a"></component-a>
        <component-a ref="b"></component-a>
    </div>
    <script>
        const bus = new Vue();
        Vue.component('component-a',{
            template:`
            <button @click="handleEvent">传递事件</button>
            `,
            methods:{
                handleEvent(){
                    this.$parent
                    bus.$emit('on-message','来自Component-a的内容');
                }
            }
        })
        new Vue({
            el:'#app',
            data:{
                message:'hello!'
            },
            mounted(){
                bus.$on('on-message',(msg)=>{
                    this.message = msg;
                })
                this.$children.handleEvent();
            }
        })
    </script>
</body>
</html>