<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue组件基础(通过 Prop 向子组件传递数据1)</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:title="post.title"></blog-post>
    </div>
    <script>
        Vue.component('blog-post',{
            props:['title'],
            template:'<h3>{{ title }}</h3>'
        })
        var app = new Vue({
            el: '#app',
            data:{
                posts:[
                    {id:'1',title:'My journey with me'},
                    {id:'2',title:'Blogging with Vue'},
                    {id:'3',title:'Why Vue is so fun'}
                ]
            }
        })
    </script>
</body>

</html>