<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue组件通信--编译的作用域</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <child-component></child-component>
    </div>
    <script>
        Vue.component('child-component',{
            template:'<div v-show="showChild">子组件</div>',
            data:function(){
                return {
                    showChild:true
                }
            }
        });

        var app = new Vue({
            el:'#app'
        })
        /*slot分发的内容，作用域是在父组件上*/
    </script>
</body>

</html>