<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue组件通信(非父子组件通信--中央事件处理总线)</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <component-a></component-a>
        <component-b></component-b>
    </div>
    <script>
        var bus = new Vue();
        Vue.component('component-a',{
            template:`
            <button @click="buttonClick">组件A</button>
            `,
            methods:{
                buttonClick(){
                    bus.$emit("anotherclick","Hi! Vue")
                }
            }
        })
        Vue.component('component-b', {
            template:`
            <div>我是组件B{{ msg }}</div>
            `,
            data:()=>({
                msg:"Hello World!"
            }),
            created(){
                bus.$on('anotherclick',content => {
                    this.msg = content;
                });
            }
        })
        new Vue({
            el:'#app'
        })
    </script>
</body>
</html>