<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue组件通信--作用域插槽</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <child-component>
            <template scope="props">
                <p>来自父组件的内容</p>
                <p>{{ props.msg }}</p>
            </template>
        </child-component>
    </div>
    <script>
        /*在子组件的模板内，slot元素上有一个类似props传递数据给组件的写法（meg=“XXX”）,将数据传递到插槽中，父组件使用template*/
        Vue.component('child-component',{
            template:`
            <div class="container">
                <slot msg="来自子组件的内容"></slot>
            </div>
            `
        })
        var app = new Vue({
            el:'#app'
        });
    </script>
</body>

</html>