<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue组件通信--子组件索引</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <button @click="handleRef">通过ref来获取子组件实例</button>
        <!--vue提供子组件索引方法，用特殊的ref来为子组件指定一个索引名称-->
        <component-a ref="comA"></component-a>
    </div>
    <script>
        Vue.component('component-a',{
            template:`
            <div>子组件</div>
            `,
            data:function(){
                return {
                    message:'子组件内容'
                }
            }
        })
        var app = new Vue({
            el:'#app',
            methods:{
                handleRef:function(){
                    var msg = this.$refs.comA.message;
                    console.log(msg);
                }
            }
        })
        /*在父组件模板中，子组件标签上使用ref指定一个名称，并在父组件内通过this.$refs来访问指定的子组件。*/
    </script>
</body>

</html>