*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "微软雅黑";
    font-size: 12px;
}
html,body{
    width: 100%;
    height: 100%;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #2b2b2b;
}
.fl{float: left;}
.fr{float: right;}
.clearfix:after {content: ""; height: 0; line-height: 0; display: block; visibility: hidden; clear: both; }
.clearfix{ zoom: 1; }

main{
    height: 100%;
    background: url('http://data.luckyi.cn/data/lucky_photo_music_01.jpg') no-repeat center;
    background-size: cover;
    position: relative;
}

.main-opa{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    opacity: 0.6;
}

section{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

section>.mus-top{
    width: 100%;
    height: calc(100% - 80px);
}


/*pc*/
section>.mus-pc-top{
    padding-top: 50px;
}
section>.mus-pc-top>.mus-main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
section>.mus-pc-top>.mus-main>.mus-cover img{
    display: block;
    width: 360px;
    height: 360px;
}
section>.mus-pc-top>.mus-main>.mus-cover>.mus-name{
    margin-top: 30px;
}
section>.mus-pc-top>.mus-main>.mus-cover>.mus-name>h3{
    font-size: 26px;
    padding: 10px 0;
    color: #616161;
}
section>.mus-pc-top>.mus-main>.mus-cover>.mus-name>h4{
    font-size: 20px;
    color: #616161;
}
section>.mus-pc-top>.mus-main>.mus-word{
    padding: 0 20px;
    width: calc(100% - 400px);
    font-size: 18px;
    color: #646464;
}
section>.mus-pc-top>.mus-main>.mus-word>.mus-list>ul>li{
    width: 300px;
    margin: 0 auto;
    color: #646464;
    font-size: 18px;
    height: 32px;
    line-height: 32px;
}
section>.mus-pc-top>.mus-main>.mus-word>.mus-list>ul>li:hover{
    box-sizing: border-box;
    border-bottom: 1px dashed #888888;
    background: rgba(107, 107, 107, 0.3);
}

/*手机底部*/
section>.mus-bot{
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px 5px #b8b8b8;
    position: absolute;
    bottom: 0;
}

section>.mus-pc-bot>.lt{
    min-width: 200px;
    margin-left: 4%;
    padding: 20px 0;
}
section>.mus-pc-bot>.lt ul li{
    float: left;
    display: block;
    margin: 0 1%;
    width: 31.3%;
}
section>.mus-pc-bot>.lt ul li a{
    display: block;
    width: 40px;
    line-height: 38px;
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
    border: 1px solid #646464;
    box-sizing: border-box;
    border-radius: 20px;
}
section>.mus-pc-bot>.rt{
    width: calc(96% - 200px);
}
section>.mus-pc-bot>.rt>.progress{
    width: 85%;
    margin: 2% 10% 0 5%;
}
section>.mus-pc-bot>.rt>.progress>.progress-wid{
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    background: #7575753d;
    position: relative;
}
section>.mus-pc-bot>.rt>.progress>.progress-wid>.pro-bar{
    width: 50%;
    height: 2px;
    background-image: linear-gradient(to right, #00ffdd 50%, #7dff04 100%);
    position: absolute;
}
section>.mus-pc-bot>.rt>.progress>.progress-wid>.pro-bar i{
    display: block;
    width: 10px;
    height: 10px;
    background: #7dff04;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: -4px;
}
section>.mus-pc-bot>.rt>.progress>.time-pro{
    font-size: 14px;
    line-height: 16px;
    color: #757575;
}
section>.mus-pc-bot>.rt>.progress>.time-pro>.auther{
    float: right;
}
section>.mus-pc-bot>.rt>.progress>.time-pro>.auther>span{
    display: inline-block;
    margin: 0 5px;
}
section>.mus-pc-bot>.rt>.progress>.time-pro>.auther>.active{
    color: rgb(17, 17, 17);
}
section>.mus-pc-bot>.rt>.progress>.time-pro>.auther i{
    font-size: 18px;
    color: #a1a1a1;
}
section>.mus-pc-bot>.rt>.progress>.time-pro>.auther>.volume{
    position: relative;
}
section>.mus-pc-bot>.rt>.progress>.time-pro>.auther>.volume:hover>.vol-box{
    display: block;
}
section>.mus-pc-bot>.rt>.progress>.time-pro>.auther>.volume>.vol-box{
    display: none;
    position: absolute;
    top: -120px;
    left: 20px;
    width: 28px;
    height: 100px;
    background: #cccccc;
}
section>.mus-pc-bot>.rt>.progress>.time-pro>.auther>.volume>.vol-box>.vol-progress{
    width: 2px;
    height: 80px;
    background: #eeeeee;
    margin: 10px auto;
    position: relative;
}
section>.mus-pc-bot>.rt>.progress>.time-pro>.auther>.volume>.vol-box>.vol-progress i{
    display: block;
    position: absolute;
    width: 10px;
}
/*phone*/
section>.mus-ph-bot{
    width: 100%;
    display: none;
}
section>.mus-ph-bot>.lt{
    width: 90px;
    padding: 13px 0 13px 10px;
}
section>.mus-ph-bot>.lt>ul>li{
    float: left;
    display: block;
    margin: 0 1%;
    width: 48%;
    text-align: center;
}
section>.mus-ph-bot>.lt>ul>li>a{
    display: inline-block;
    width: 34px;
    line-height: 32px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    border: 1px solid #646464;
    box-sizing: border-box;
    border-radius: 20px;
}
section>.mus-ph-bot>.rt{
    width: calc(100% - 110px);
    padding-top: 4px;
    padding-left: 10px;
}
section>.mus-ph-bot>.rt h3{
    font-size: 16px;
    line-height: 22px;
    color: #2b2b2b;
    font-weight: normal;
}
section>.mus-ph-bot>.rt P{
    font-size: 12px;
    color: #2b2b2b;
}
section>.mus-ph-top{
    padding-top: 20px;
    display: none;
}
section>.mus-ph-top>.mus-main{
    padding: 10px;
}
section>.mus-ph-top>.mus-main>.mus-cover{
    padding-bottom: 10px;
    border-bottom: 1px dashed #757575;
}
section>.mus-ph-top>.mus-main>.mus-cover>img{
    display: block;
    float: left;
    width: 120px;
    height: 120px;
}
section>.mus-ph-top>.mus-main>.mus-cover>div{
    padding-left: 20px;
}
section>.mus-ph-top>.mus-main>.mus-cover>div>h3{
    font-size: 22px;
    color: #646464;
}
section>.mus-ph-top>.mus-main>.mus-cover>div>p{
    font-size: 18px;
    color: #646464;
}
section>.mus-ph-top>.mus-main>.mus-word{
    padding-top: 30px;
}
section>.mus-ph-top>.mus-main>.mus-word>p{
    font-size: 16px;
    color: #757575;
    text-align: center;
    line-height: 32px;
}

@media screen and (max-width:785px){
    section>.mus-bot{
        height: 60px;
    }
    section>.mus-pc-top,
    section>.mus-pc-bot{
        display: none;
    }
    section>.mus-ph-top,
    section>.mus-ph-bot{
        display: block;
    }
    section>.mus-top{
        height: calc(100% - 80px);
    }
}
