<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>动态组件</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <style>
    </style>
</head>
<body>
    <div id="app">
        <!-- 动态组件 -->
        <!-- <component :is="type"></component>  -->
        <child-one v-if="type ==='child-one'"></child-one>
        <child-two v-if="type ==='child-two'"></child-two>
        <button @click="handleClick">change</button>
    </div>
    <script>
        Vue.component('child-one',{
            template:"<div v-once>child-one</div>"
        })
        Vue.component('child-two',{
            template:"<div v-once>child-two</div>"
        })
        var app = new Vue({
            el:'#app',
            data:{
                type:'child-one'
            },
            methods:{
                handleClick:function(){
                    this.type = (this.type ==="child-one" ? "child-two" : "child-one")
                }
            }
        })
    </script>
</body>
</html>